<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kalah Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="author" content="Hemraj" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet"	href="/assets/app.css" />

</head>
<body ng-app="game"  ng-controller="GameController">
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Kalah Game</a>
            <ul class="right hide-on-med-and-down">
        		<li>
        			<a href="#" ng-click="resetGame()">Reset</a>
        		</li>
      		</ul>
        </div>
    </div>
</nav>
<div class="container">
<h6>Player - {{gamePosition.nextPlayer}}'s turn</h6>
<div class="card">
	<div class="row card-content" >
		<div class="col s2 alignItemCenter">
			<h6>P-1</h6>&nbsp
			<div class="house alignItemCenter">{{gamePosition.stonePositionMap[0]}}</div> <!-- Player-1's House -->
		</div>
		<div class="col s8">
			<div class="row">
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 13)">{{gamePosition.stonePositionMap[13]}}</div> <!-- Player-2's 6th pit -->
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 12)">{{gamePosition.stonePositionMap[12]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 11)">{{gamePosition.stonePositionMap[11]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 10)">{{gamePosition.stonePositionMap[10]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 9)">{{gamePosition.stonePositionMap[9]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(2, 8)">{{gamePosition.stonePositionMap[8]}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 1)">{{gamePosition.stonePositionMap[1]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 2)">{{gamePosition.stonePositionMap[2]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 3)">{{gamePosition.stonePositionMap[3]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 4)">{{gamePosition.stonePositionMap[4]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 5)">{{gamePosition.stonePositionMap[5]}}</div>
				</div>
				<div class="col s2 alignItemCenter">
					<div href="#" class="circle number center-align"  ng-click="moveStones(1, 6)">{{gamePosition.stonePositionMap[6]}}</div>
				</div>
			</div>
		</div>
		<div class="col s2 alignItemCenter">
			<div class="house alignItemCenter">{{gamePosition.stonePositionMap[7]}}</div> <!-- Player-2's House -->
			&nbsp<h6>P-2</h6>
		</div>
	</div>
	
</div>
	<h5>{{gamePosition.winnerMessage}}</h5>    
</div>


<script type="text/javascript" src="/assets/app.js"></script>

</body>
</html>



