/*
This is a comment block in the top of a css file
*= require /materialize/css/materialize.min
*= require_tree components
*/

.alignItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
	height: 36px;
	width: 36px;
	padding: 7px;
	cursor:	pointer;
	background-color: #26a69a;
}

.house{
	border-radius: 10%;
	background-color: #26a69a;
	height:90px;
	width:90px;
}